@model PortfolioWebsite.Models.AllProjectsView
@{
    ViewData["Title"] = "Home Page";
}

<div class="cover-v1 jarallax" style="background-image: url('images/thumbnail_David.jpg');" id="home-section">
        <div class="container">
          <div class="row align-items-center">
              
            <div class="col-md-7 mx-auto text-center">
              <h1 class="heading gsap-reveal-hero ">David Russ<span>.</span></h1>
              <h2 class="subheading gsap-reveal-hero">Software Engineer | Aerospace Engineer | Marine Officer Veteran </h2>
            </div>

          </div>
        </div>


        <a href="#services-section" class="mouse-wrap smoothscroll">
          <span class="mouse">
            <span class="scroll"></span>
          </span>
          <span class="mouse-label">Scroll</span>
        </a>

      </div>
      <!-- END .cover-v1 -->

      <!-- BEGIN services -->
      <div class="unslate_co--section" id="services-section">
        <div class="container">

          <!-- Services heading -->
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Services</span></h2>
            <span class="gsap-reveal"><img src="images/divider.png" alt="divider" width="76"></span>
          </div>

          <!-- Back-End -->
          <div class="row gutter-v3">
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                <div class="wrap-icon mb-3">
                  <img src="images/svg/001-options.svg" alt="Options" width="45">
                </div>
                <h3>Back- <br> End</h3>
                <p>With the power of ASP.Net, C#, XAML, and the MVC pattern, I develop stable back-end software that seamlessly and securely connects to both databases and the front-end for a unified user experience. </p>
              </div> 
            </div>
            <!-- Front-End -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                <div class="wrap-icon mb-3">
                  <img src="images/svg/002-chat.svg" alt="Icon" width="45">
                </div>
                <h3>Front- <br> End</h3>
                <p>Using HTML5, CSS3, JavaScript, SASS, and ASP.NET MVC, I design dynamic, responsive, and streamlined front-end sites for modern web applications that adapt to fit the user. </p>
              </div> 
            </div>
            <!-- User Experience -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="images/svg/003-contact-book.svg" alt="Contact" class="img-fluid" width="45">
                </div>
                <h3>User <br> Experience</h3>
                <p>Simple, elegant, and user-friendly design that takes the customer into consideration is at the forefront of every application I create. </p>
              </div> 
            </div>

            <!-- Cloud Development -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                <div class="wrap-icon mb-3">
                  <img src="images/svg/004-percentage.svg" alt="Percentage" width="45">
                </div>
                <h3>Cloud <br> Development</h3>
                <p>With a strong understanding of cloud architecture, Azure services, Azure workloads, and cloud application integration, I create secure and privacy-minded cloud-native applications that scale with demand and offer maximum availability. </p>
              </div> 
            </div>
            <!-- Cyber Security -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                <div class="wrap-icon mb-3">
                  <img src="images/svg/006-goal.svg" alt="Goal" width="45">
                </div>
                <h3>Cyber <br> Security</h3>
                <p>After years of experience in cyber security, I can proactively address organizational information security weaknesses and implement security best practices to maximize protection against common intrusion methods. </p>
              </div> 
            </div>
            <!-- Database Design -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="images/svg/005-line-chart.svg" alt="Line" width="45">
                </div>
                <h3>Database <br> Design</h3>
                <p>Employing Microsoft SQL Server with proper database structure and normalization, efficient stored techniques, and dynamic queries, I implement databases that ensure data security and improve application performance. </p>
              </div> 
            </div>

          </div>
        </div>
      </div>
      <!-- END services -->

       <!-- BEGIN about -->
      <div class="unslate_co--section" id="about-section">
        <div class="container">
          
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Story</span></h2>
            <span class="gsap-reveal">
            <img src="images/divider.png" alt="divider" width="76">
            </span>
          </div>
          

          <div class="row mt-5 justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
              <figure class="dotted-bg gsap-reveal-img ">
                <img src="images/aboutme.jpg" alt="David" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-4 pr-lg-5">
              <h3 class="mb-4 heading-h3"><span class="gsap-reveal">Cloud Developer experienced in Cyber Security</span></h3>
              <p class="lead gsap-reveal">
                  Going to school for Aerospace Engineering with a goal of being a pilot in the Marine Corps, I never anticipated the path my life would follow. 
                  At the same time that I learned that I was ineligible for flight due to color-blindness, I was taking a class in Programming Fundamentals for engineers. 
                  The first time I ran into a bug that took me hours to solve, I was hooked. I used this new passion to pivot my career path and went into Information Technology while in the Marine Corps.
              </p>
              <p class="mb-4 gsap-reveal">
                  After honorably serving out my contract, I am excited to begin developing software as a civilian. 
                  I have an active TS/SCI clearance, and have earned certifications in the Microsoft Office suite, SharePoint, Teams, SolidWorks, Systems Tool Kit, MATLAB, C#, T-SQL, JavaScript, CSS3, HTML5, and software development fundamentals. 
                  I hold a Bachelor of Science focused in Aerospace, Aeronautical and Astronautical Engineering from the University of Florida, Cum Laude.
              </p>
              <p class="gsap-reveal"><a href="~/docs/David_Russ_Resume_Gen.pdf" class="btn btn-outline-pill btn-custom-light">Download my resume</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- END about -->

      <!-- BEGIN portfolio -->
      <div class="unslate_co--section" id="portfolio-section">
        <div class="container">
                    
          <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
          <div id="portfolio-single-holder"></div>

          <div class="portfolio-wrapper">

            <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
              <h2 class="mr-auto heading-h2"><span class="gsap-reveal">Portfolio</span></h2>

              <a href="#" class="text-white js-filter d-inline-block d-lg-none">Filter</a>
              
              <div class="filter-wrap">
                <div class="filter ml-auto" id="filters">
                  <a href="#" class="active" data-filter="*">All</a>
                  <a href="#" data-filter=".js">JavaScript</a>
                  <a href="#" data-filter=".csharp">C#</a>
                  <a href="#" data-filter=".css">CSS3</a>
                  <a href="#" data-filter=".html">HTML5</a>
                  <a href="#" data-filter=".asp">ASP.NET</a>
                  <a href="#" data-filter=".sql">SQL</a>
                </div>
              </div> 
            </div>
            
            <div id="posts" class="row gutter-isotope-item">
                @foreach(var project in Model.Projects)
                {
                    string langfilter = "";
                    string langs = "";
                    if (project.HasAsp)
                    { langfilter+="asp "; langs += "ASP.NET "; }
                    if (project.HasCs)
                    { langfilter += "csharp "; langs += "C# "; }
                    if (project.HasCss)
                    { langfilter += "css "; langs += "CSS3 "; }
                    if (project.HasHtml)
                    { langfilter += "html "; langs += "HTML5 "; }
                    if (project.HasJs)
                    { langfilter += "js "; langs += "JavaScript "; }
                    if (project.HasSql)
                    { langfilter += "sql "; langs += "SQL "; }

                    if (project.PortfolioType == PortfolioType.Full)
                    {
                        <div class="item @langfilter col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                            <a href="/Project/Single/@project.Id" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="@project.Id">
                                <div class="overlay">
                                    <span class="wrap-icon icon-link2"></span>
                                    <div class="portfolio-item-content">
                                        <h3>@Html.DisplayFor(modelitem=>project.Name)</h3>
                                        <p>@langs</p>
                                    </div>
                                </div>
                                <img src="~/images/@project.ImageName1" class="lazyload  img-fluid" alt="@project.Name" />
                            </a>
                        </div>
                    }

                    if (project.PortfolioType == PortfolioType.Video)
                    {
                        <div class="item @langfilter col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                            <a href="@project.VideoUrl" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="@project.Name">
                                <div class="overlay">
                                  <span class="wrap-icon icon-play_circle_filled"></span>
                                  <div class="portfolio-item-content">
                                    <h3>@Html.DisplayFor(modelitem=>project.Name)</h3>
                                    <p>@langs</p>
                                  </div>
                                </div>
                                <img src="~/images/@project.ImageName1" class="lazyload  img-fluid" alt="@project.Name" />
                            </a>
                        </div>
                    }

                    if (project.PortfolioType == PortfolioType.Picture)
                    {
                        <div class="item @langfilter col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                            <a href="~/images/@project.ImageName1" class="portfolio-item item-portrait isotope-item gsap-reveal-img " data-fancybox="gallery" data-caption="@project.Name">
                                <div class="overlay">
                                  <span class="wrap-icon icon-photo2"></span>
                                  <div class="portfolio-item-content">
                                    <h3>@Html.DisplayFor(modelitem=>project.Name)</h3>
                                    <p>@langs</p>
                                  </div>
                                </div>
                                <img src="~/images/@project.ImageName1" class="lazyload  img-fluid" alt="@project.Name" />
                            </a>
                        </div>
                    }
                }
            </div>
            
          </div>


        </div>
      </div>
      <!-- END portfolio -->

      <!-- BEGIN technology slider-->
      <div class="unslate_co--section">
        <div class="container">
          <div class="owl-carousel logo-slider">
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-azure.png" alt="Azure" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-html5.png" alt="HTML5" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-css3.png" alt="CSS3" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-csharp.png" alt="C#" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-bootstrap.png" alt="BootStrap" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-javascript.png" alt="JavaScript" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-matlab.png" alt="MATLAB" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-react.png" alt="React" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-sass.png" alt="SASS" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-solidworks.png" alt="SolidWorks" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-sql.png" alt="SQL" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-stk.png" alt="STK" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/logo-jira.png" alt="Jira" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!-- END technology slider-->

      <!-- BEGIN skills -->
      <div class="unslate_co--section section-counter" id="skills-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Skills</span></h2>
            <span class="gsap-reveal"><img src="images/divider.png" alt="divider" width="76"></span>
          </div>


          <div class="row pt-5">
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="100">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">C#</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="95">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">HTML/CSS</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="90">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">SQL</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="80">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Azure</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END skills -->

      <!-- BEGIN testimonials -->
      <div class="unslate_co--section" id="testimonial-section">

        <!-- Testimonial header -->
        <div class="container">
            <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Recommendations</span></h2>
            <span class="gsap-reveal"><img src="images/divider.png" alt="divider" width="76"></span>
            </div>
        </div>

        <!-- Testimonial carousel -->
        <div class="owl-carousel testimonial-slider" data-aos="fade-up">

          <!-- Col Rideout -->
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                    Dropped in the deep end of a fast-moving, complex command - amidst COVID - is enough to fluster a Major 0602, let alone 1stLt. There's no playbook or school-issued checklist for what I asked of David and he delivered. Smart, sensible, action-oriented. Takes care of his people.
                </blockquote>
              </div>
              <div class="testimonial-author-info">
                <img src="images/test-rideout.jpg" alt="Col Rideout">
                <h3>Col Brian Rideout</h3>
                <span class="d-block position">Chief of Staff, I MEF </span>
              </div>
            </div>
          </div>

          <!-- LtCol Thomas -->
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                   He seamlessly navigated a system full of unending wickets and checks and balances; his performance was truly impressive. He is bright, mature and capable of succeeding at any task. Russ' future is limitless. I will continue to seek to serve with this Marine at every possibility.
                </blockquote>
              </div>
              <div class="testimonial-author-info">
                <img src="images/test-thomas.png" alt="LtCol Thomas">
                <h3>LtCol Thomas</h3>
                <span class="d-block position">Commanding Officer, MCSB </span>
              </div>
            </div>
          </div>

          <!-- Capt Welpe -->
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                  First Lieutenant Russ is a superior leader of Marines... His technical knowledge, is significantly above that of his peers. He was first choice to serve as a detachment OIC, forward deployed OCONUS, due to his maturity and leadership. His team performed superbly, far surpassing expectations, and receiving numerous accolades from higher headquarters.
                </blockquote>
              </div>
              <div class="testimonial-author-info">
                <img src="images/test-welpe.png" alt="Capt Welpe">
                <h3>Capt Welpe</h3>
                <span class="d-block position">Company Commander, Support Company, 9CB </span>
              </div>
            </div>
          </div>
        

          <!-- Deepali Kumatkar -->
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                  This is awesome, all the validations, automations ,collapsed menus ..every feature is amazing! Always a treat to watch your assignments!
                </blockquote>
              </div>
              <div class="testimonial-author-info">
                <img src="images/test-kumatkar.png" alt="Deepali Kumatkar">
                <h3>Deepali Kumatkar</h3>
                <span class="d-block position">Technical Instructor, MSSA </span>
              </div>
            </div>
          </div>

          <!-- Col Root -->
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                  1stLt Russ has performed well in a role normally allotted to a field grade officer, as the group communications officer... An intelligent and very proficient officer, his team's efforts to support integration across the MAGTF have resulted in enhanced situational awareness. 
                </blockquote>
              </div>
              <div class="testimonial-author-info">
                <img src="images/test-root.jpg" alt="Col Root">
                <h3>Col Root</h3>
                <span class="d-block position">Commanding Officer, I MIG </span>
              </div>
            </div>
          </div>
        

          <!-- LtCol Krusinger -->
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                  1stLt Russ has demonstrated a high proficiency in effectively managing multiple key functional programs at the group level. An intelligent Marine Officer with strong character, whose hard work has enhanced the performance of the unit.
                </blockquote>
              </div>
              <div class="testimonial-author-info">
                <img src="images/test-krusinger.png" alt="LtCol Krusinger">
                <h3>LtCol Krusinger</h3>
                <span class="d-block position">Executive Officer, I MIG </span>
              </div>
            </div>
          </div>

        </div>
        <!-- END carousel-->

      </div>
      <!-- END testimonial -->

      @*<!-- BEGIN journal -->
      <div class="unslate_co--section" id="journal-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Journal</span></h2>
            <span class="gsap-reveal"><img src="images/divider.png" alt="divider" width="76"></span>
          </div>

          
          <div class="row gutter-v4 align-items-stretch">
            <div class="col-sm-6 col-md-6 col-lg-8 blog-post-entry" data-aos="fade-up" data-aos-delay="0">

              <a href="#" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3>My Coding Journey</h3>
                    <p class="post-meta">By David Russ <span class="small">&bullet;</span> 10 mins read</p>
                  </div>
                </div>
                <img src="images/post_1.jpg" class="lazyload" alt="Beach" />
              </a>


            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 blog-post-entry" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3>Interior Decorating for Programmers</h3>
                    <p class="post-meta">By Joefrey <span class="small">&bullet;</span> 5 mins read</p>
                  </div>
                </div>
                <img src="images/DR Logo.png" class="lazyload" alt="David Logo" />
              </a>
            </div>


            <div class="col-sm-6 col-md-6 col-lg-4 blog-post-entry" data-aos="fade-up" data-aos-delay="0">

              <a href="#" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3>Secrets to Coding</h3>
                    <p class="post-meta">By David Russ <span class="small">&bullet;</span> 25 mins read</p>
                  </div>
                </div>
                <img src="images/NewLeaf1.png" class="lazyload" alt="Personal Finance App" />
              </a>


            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 blog-post-entry" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3>Developing in ASP.NET</h3>
                    <p class="post-meta">By David Russ <span class="small">&bullet;</span> 3 mins read</p>
                  </div>
                </div>
                <img src="images/StudentManagement.png" class="lazyload" alt="Student Management System" />
              </a>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4 blog-post-entry" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3>How To Create an MVC Application</h3>
                    <p class="post-meta">By David Russ <span class="small">&bullet;</span> 60 mins read</p>
                  </div>
                </div>
                <img src="images/BookDatabase.png" class="lazyload" alt="Book Database" />
              </a>
            </div>


          </div>

        </div>
      </div>
      <!-- END journal -->*@

      <!-- BEGIN contact -->
      <div class="unslate_co--section" id="contact-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Get In Touch</span></h2>
            <span class="gsap-reveal"><img src="images/divider.png" alt="divider" width="76"></span>
          </div>


          <div class="row justify-content-between">
            
            <div class="col-md-6">
              <form method="post" action="~/php/send-email.php" class="form-outline-style-v1" id="contactForm">
                <div class="form-group row mb-0">

                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name">
                  </div>
                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" id="email">
                  </div>
                  <div class="col-lg-12 form-group gsap-reveal">
                    <label for="message">Write your message...</label>
                    <textarea name="message" id="message" cols="30" rows="7" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group row gsap-reveal">
                    <div class="col-md-12 d-flex align-items-center">
                      <input type="submit" class="btn btn-outline-pill btn-custom-light mr-3" value="Send Message">
                      <span class="submitting"></span>
                    </div>
                  </div>
              </form>
              <div id="form-message-warning" class="mt-4"></div> 
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>

            </div>

            <div class="col-md-4">
              <div class="contact-info-v1">
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Email</span>
                  <a href="#" class="contact-info-val">david@davidruss.dev</a>
                </div>
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Phone</span>
                  <a href="#" class="contact-info-val">813.230.4458</a>
                </div>
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Address</span>
                  <address class="contact-info-val">San Marcos, CA 92078</address>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- END contact -->